env:
  - DATABASE_URL="postgres://postgres@localhost/deep_thought_test"

language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - jruby
  - rbx-1.9.3
  - rbx-2.0.0
  - rbx-2.1.0

install: bundle install --binstubs

before_script: psql -c 'create database deep_thought_test;' -U postgres; bundle exec rake db:migrate RACK_ENV=test
script: script/test
