%form{:"accept-charset" => "UTF-8", :action => "/projects/edit/#{project.name}", :method => "POST"}
  = csrf_tag
  %input{:type => 'hidden', :name => "_method", :value => "put"}
  .field
    %input{:id => "name", :name => "project[name]", :placeholder => "name", :value => project.name, :type => "text"}
  .field
    %input{:id => "repo", :name => "project[repo_url]", :placeholder => "repository url", :value => project.repo_url, :type => "text"}
  .field
    %input{:id => "type", :name => "project[deploy_type]", :placeholder => "deployment type", :value => project.deploy_type, :type => "text"}
  .field
    %input{:class => "button", :type => "submit", :value => "update project"}

.delete-project
  %form{:"accept-charset" => "UTF-8", :action => "/projects/delete/#{project.name}", :method => "POST"}
    = csrf_tag
    %input{:type => 'hidden', :name => "_method", :value => "delete"}
    %input{:class => "button", :type => "submit", :value => "delete project"}
