- if current_user.id == user.id
  %form{:"accept-charset" => "UTF-8", :action => "/users/#{user.id}", :method => "POST"}
    = csrf_tag
    %input{:type => 'hidden', :name => "_method", :value => "put"}
    %input{:id => "email", :name => "user[email]", :value => user.email, :type => "text"}
    %input{:id => "password", :name => "user[password]", :placeholder => "new password", :type => "password"}
    %input{:id => "password_confirmation", :name => "user[password_confirmation]", :placeholder => "confirm password", :type => "password"}
    %input{:class => "button", :type => "submit", :value => "update"}
- else
  %ul.list
    %li
      %p= user.email
